**hackerrank**
- string formatting
- alphabet rangoli
- capitalize
- No idea
- set discard
- set mutation
-

1) An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

In [ ]:
def is_leap(year):
    leap = False
    if year % 4==0:
        if year % 100==0:
            if year % 400==0:
                leap=True
        else:
             leap = True
    
    return leap

In [ ]:
is_leap(2100)

In [ ]:
is_leap(1992)

**1.A) List of Leap Years:<br>
Write a function that takes a start year and an end year, and returns a list of all leap years between those two years (inclusive).**

In [ ]:
def f1(start, end):
    leap_years=[]
    for i in range(start, end+1):
            if i % 4 == 0 and (i % 100 != 0 or i % 400 == 0):
                leap_years.append(i)
    print(leap_years)

In [ ]:
f1(1990,2024)

3.a
Write a list comprehension to generate all possible coordinates [x, y, z] where x, y, and z range from 0 to a given limit n, but the sum of the coordinates should be less than a given number m

In [ ]:
m=10
x = int(input())
y = int(input())
z = int(input())
n = int(input())
out=[[x,y,z] for x in range(0,n) for y in range(0,n) for z in range(0,n) if x+y+z > m]
print(out)

3.2
Given two integers a and b, generate a list of lists containing pairs [i, j] where i ranges from 0 to a and j ranges from 0 to b. Include only those pairs where both i and j are even numbers.

In [ ]:
a=int(input())
b=int(input())
out=[[i,j] for i in range(0,a+1) for j in range(0,b+1) if i % 2==0 and j % 2==0]
print(out)

3.3
Given a 2D matrix, use list comprehension to transpose the matrix. 
That is, convert the rows of the matrix into columns and vice versa.

In [ ]:
import pandas as pd
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed=list(map(list,zip(*matrix)))
print(transposed)


""""
step1 -- When you use *matrix, it effectively unpacks the rows of the matrix like this:
               zip([1, 2, 3], [4, 5, 6], [7, 8, 9])

               
step 2---The zip function then aggregates elements from each row:
First elements: (1, 4, 7)
Second elements: (2, 5, 8)
Third elements: (3, 6, 9)
So, zip(*matrix) results in:
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]



step 3--- map(list, zip(*matrix))
The map function applies a given function to all items in an input list. In this case, map(list, ...) converts each tuple generated by zip(*matrix) into a list.



step 4-- So, map(list, [(1, 4, 7), (2, 5, 8), (3, 6, 9)]) results in:
            [[1, 4, 7], [2, 5, 8], [3, 6, 9]]


            
step --5 list(map(list, zip(*matrix)))
Finally, the list function converts the map object to a list. This step is necessary because map returns a map object, which is an iterator.

**3.4) Filtering Divisors**<br>
Write a list comprehension that generates a list of numbers from 1 to n that are divisible by 3 but not by 5.

In [ ]:
n=int(input())
out1=[i for i in range(1,n+1) if i % 3==0 and i % 5 !=0]
print(out1)

**3.5) Given a list of strings, use list comprehension to generate a list of their lengths.**

In [ ]:
strings = ['nadeem', 'sarwar', 'nad']
out = [len(string) for string in strings]
print(out)

given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up

input Format
The first line containns . The second line contains an arra  yA[]of  n integers each separated by a spc
*sample inpt

2 3 6 5 5

outp
5

In [ ]:
n = int(input())
arr = map(int, input().split())
q=sorted(list(set(arr)))
r=q[-2]
print(r)

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example = [['chi',20],['beta',50.0],['alpha',50.0]]

The ordered list of scores is [20,50.0], so the second lowest score is [50.0]. There are two students with that score:['beta','alpha'] . Ordered alphabetically, the names are printed as

alpha
beta


sample input
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

output
Berry
Harry

In [ ]:
all_name=[]
all_score=[]
score_name=[]
for _ in range(int(input())):# jitti input doge utti baar yeh chalega
    name = input()
    score = float(input())
    all_name.append(name)
    all_score.append(score)
    score_name.append([name,score])

sorted_score=sorted(list(set(all_score)))
second_low=sorted_score[1]
out=[i[0] for i in score_name if i[1] == second_low]
    #include this) in out or not if the condition satisfy 
    # The comprehension iterates through each element i in score_name and includes i[0] in out only if i[1] is equal to second_low.
out.sort()
for i in out:
    print(i)

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks 
array for the student name provided, showing 2 places after the decimal.

sample input
3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika

output
56.00

In [2]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
    
query_name = input()
a=sum(student_marks[query_name])/(len(student_marks[query_name]))
q=format(a,".2f")
print(q)

 3
 nadeem 12 13 15
 sarwar 12 45 36
 ali 13 43 54
 sarwar

31.00

In [ ]:
student_marks = {}  # Empty dictionary

name = "Alice"  # Student name
scores = [80.0, 95.0, 78.0]  # List of scores (converted to floats)

student_marks[name] = scores  # Add "Alice" as key, scores as value

print(student_marks)  # Output: {'Alice': [80.0, 95.0, 78.0]}

Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer  at position .
print: Print the list.
remove e: Delete the first occurrence of integer .
append e: Insert integer  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.


Sample Input 0

12
insert 0 5
insert 1 10
insert 0 6
print
remove 6
append 9
append 1
sort
print
pop
reverse
print


[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [ ]:
N = int(input())
a=[]
for iteration in range(N):
    method, *line=input().split()
    num=list(map(int,line))
    if method == "insert":
        a.insert(num[0],num[1])
    elif method=="print":
        print(a)
    elif method=="remove":
        a.remove(num[0])
    elif method=="append":
        a.append(num[0])
    elif method== 'sort':
        a.sort()
    elif method=="pop":
        a.pop()
    elif method=="reverse":
        a.reverse()

**Given an integer,n, and n space-separated integers as input, create a tuple,t, of those n integers. Then compute and print the result of hash(t)**
<br>
**Sample Input**
<br>
2<br>
12<br>
**sample output**
<br>
3713081631934410656410656

In [ ]:
n = int(input())
integer_list = map(int, input().split())
t = tuple(integer_list)
print(hash(t))

```python
a = "this is a string"
a = a.split(" ") # a is converted to a list of strings. 
print(a)
# Output: ['this', 'is', 'a', 'string']

a = "-".join(a)
print(a)
# Output: this-is-a-string

In [ ]:
def split_and_join(line):
    # write your code here
    if line:
        a=line.split( )
        b="-".join(a)
        return b
        

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

**You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.**<br>
**$Www.HackerRank.com → wWW.hACKERrANK.COM$**<br>
**Pythonist 2 → pYTHONIST 2**

In [ ]:
def swap_case(s):
    for char in s:
        if char.isupper():
            a=char.casefold()
            print(a,end='')      
    if True:
        for char2 in s:
            if char2.islower():
                b=char2.upper()
                print(b,end='')
    else:
        return s

**You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.**

In [24]:
a=('HackerRank.com presents "Pythonist 2".')
output=''
for word in a:
    for char in word:
        if char.isupper():
           output+=char.lower()
        elif char.islower():
            output+=char.upper()
        else:
            output+=char
print(output)

hACKERrANK.COM PRESENTS "pYTHONIST 2".

In [27]:
hACKERrANK.COM PRESENTS "pYTHONIST 2".

**You are given the firstname and lastname of a person on two different lines. Your task is to read them and print the following:**<br>
**Hello firstname lastname! You just delved into python.**<br>

In [1]:
def print_full_name(first, last):
    print(f'Hello {first} {last}! You just delved into python.')
if __name__ == '__main__':
    first_name = input()
    last_name = input()
    print_full_name(first_name, last_name)

 ross
 taylor

Hello ross taylor! You just delved into python.

In [47]:
s='hai Hello world nadeem'
s=list(s)
for i in range(len(s)):
    if i==0 or s[i-1]==' ':
        if "a" <= s[i] <= "z":
            s[i]=chr(ord(s[i])-32)
result=''
for i in s:
    result+=i
print(result)

The Quick Brown Fox Jumps Over The Lazy Dog

In [12]:
#title


str1="My name Is Hyderabad"
str1=list(str1)
for i in range(len(str1)):
    if i==0 or str1[i-1] == ' ':
        if 'a'<= str1[i] <="z":
            str1[i]=chr(ord(str1[i]) - 32)

result=''
for i in str1:
    result+=i

print(result)

['M', 'y', ' ', 'N', 'a', 'm', 'e', ' ', 'I', 's', ' ', 'H', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd']

In [22]:
# capitlaize
s="nadeem sarwar"
s=list(s)
first_letter=s[0]
first_letter=ord(first_letter)
if first_letter < 112:
    first_letter=int(first_letter) - 32
    s[0]=chr(first_letter)


result=''
for i in s:
    result+=i
print(result)

Nadeem sarwar

In [17]:
ord("A"),ord("Z")

(65, 90)

In [18]:
ord("a"),ord("z")

(97, 122)

In [21]:
chr(78)

'N'

In [ ]:
Write a program that accepts four words from the user in a single line and prints them in reverse order.
#use  split()
Input : Air Water Earth Fire
Output : Fire Earth Water Air

In [ ]:
user_input=input(' ')
res=''
for i in user_input.split(' '):
    res=i+ res
    
print(res)

In [ ]:
'nadeem' in "#"  # nadeem is avaible in '#'
'#' in 'nadeem'  # is # available in 'nadeem'
'nad##m' in "#"  # is nad##m is available in '#'
'#' in 'nad##m'  # is # availble in nad##m

In [ ]:
str1='hello in learning'
words=str1.split()
new_words=[]
for i in words:
    a=i.capitalize()
    new_words.append(a)
    

new_words

' '.join(new_words)

**split-join**
- split will apply for string , to divide the words or characters
- when split the elemnts will be stored in a list format 
- join is used to combine the elements
- **split-String**
- **join-list**

In [2]:
str='abracadabra'
position=int(input('postion'))
a=str[0:position]
b=str[position+1:]
character=input('character')
print(a+character+b)

postion 5
character k

abrackdabra

In [35]:
def count_substring(string, sub_string):
    count=0
    
    end=len(sub_string)
    for i in range(len(string)):
        if string[i:end+i]== sub_string :
            count+=1
    return (count)

In [36]:
count_substring('ABCDCDC','CDC')

2

In [22]:
s=input()
for i in s:
    if i.isalnum():
        print("True")
        break
else:
    print("False")
        

for i in s:
    if i.isalpha():
        print("True")
        break
else:
    print("False")
        


for i in s:
    if i.isdigit():
        print("True")
        break
else:
    print("False")
        
        

for i in s:
    if i.islower():
        print("True")
        break
else:
    print("False")
        
        
for i in s:
    if i.isupper():
        print("True")
        break
else:
    print("False")
        



#or

s=input()
is_alnum=False
for i in s:
    if i.isalnum():
        is_alnum=True
        break
print(is_alnum)

is_alpha=False
for i in s:
    if i.isalpha():
        is_alpha=True
        break
        
print(is_alpha)


is_digit=False
for i in s:
    if i.isdigit():
        is_digit=True
        break
        
print(is_digit)

is_lower=False
for i in s:
    if i.islower():
        is_lower=True
        break
print(is_lower)

is_upper=False
for i in s:
    if i.isupper():
        is_upper=True
        break
print(is_upper)


#or

if __name__ == '__main__':
    s = input()
    
    # Check for alphanumeric characters
    has_alnum = any(char.isalnum() for char in s)
    print(has_alnum)
    
    # Check for alphabetical characters
    has_alpha = any(char.isalpha() for char in s)
    print(has_alpha)
    
    # Check for digits
    has_digit = any(char.isdigit() for char in s)
    print(has_digit)
    
    # Check for lowercase characters
    has_lower = any(char.islower() for char in s)
    print(has_lower)
    
    # Check for uppercase characters
    has_upper = any(char.isupper() for char in s)
    print(has_upper)

 qA2

True
True
True
True
True

In [33]:
import textwrap
str='ABCDEFGHIJKLIMNOQRSTUVWXYZ'
words=textwrap.TextWrapper(width=4)
word_list = words.wrap(text=str) 
for i in word_list:
    print(i)

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [24]:
import textwrap

def wrap(string, max_width):
    return '\n'.join(textwrap.wrap(string, width=max_width))

In [25]:
wrap('ABCDEFGHIJKLIMNOQRSTUVWXYZ',4)

['ABCD', 'EFGH', 'IJKL', 'IMNO', 'QRST', 'UVWX', 'YZ']

In [17]:
def swap_case(s):
   a=''
   for i in s:
       if i.isupper():
           i=i.lower()
           a+=i
        
       elif i.islower():
            i=i.upper()
            a+=i
       else:
            a+=i
   print(a)

In [18]:
swap_case("Nadeem")

nADEEM

In [1]:
#textwrap without using
s="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
n=4
for i in range(0,len(s),n):
    print(s[i:n+i])

ABCD
EFGH
IJKL
MNOP
QRST
UVWX
YZ

In [8]:
thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))    

for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

 5

    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

In [ ]:
1 w 2 r 3g

In [38]:
s1='1 w 2 r 3g'
for name in s1.split():
        s1=s1.replace(name,name.capitalize())
print(s1)

1 W 2 R 3g

In [58]:
a=input().split()
a = [int(i) for i in a]
print(a)
type(a)

 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

list

In [2]:
a=input()
int_a=[int(i) for i in a]
b=input()
int_b=[int(i) for i in b]
a=product(int_a, int_b)
for i in a:
    print(i,end=' ')

 1
 2

NameError: name 'product' is not defined

In [44]:
from itertools import product
a=(product(a,b))
for i in a:
    print(i,end=' ')

(0, 0) (0, 1) (1, 0) (1, 1) (2, 0) (2, 1) (3, 0) (3, 1) (4, 0) (4, 1) (5, 0) (5, 1) (6, 0) (6, 1) (7, 0) (7, 1) (8, 0) (8, 1) (9, 0) (9, 1) (10, 0) (10, 1) (11, 0) (11, 1) (12, 0) (12, 1) (13, 0) (13, 1) (14, 0) (14, 1) (15, 0) (15, 1) (16, 0) (16, 1) (17, 0) (17, 1) (18, 0) (18, 1) (19, 0) (19, 1)

In [ ]:
Mr. Vincent works in a door mat manufacturing company. One day, he designed a new door mat with the following specifications:

Mat size must be N*M X. (N is an odd natural number, and M is 3 times of N.)
The design should have 'WELCOME' written in the center.
The design pattern should only use |, . and - characters.

In [1]:
N, M = map(int,input().split())
for i in range(1,N,2):
    print((".|."*i).center(M,"-"))
print("WELCOME".center(M,"-"))
for i in range(N-2,0,-2):
    print((".|."*i).center(M,"-"))

 7 21

---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

----c----
--c-b-c--
c-b-a-b-c
--c-b-c--
----c----

In [13]:
number=20
dec=str(number)
dec

'20'

In [14]:
octa=oct(number)[2:]
octa

'24'

In [17]:
hexa=hex(number)[2:]
hexa

'14'

In [22]:
bina=bin(number)[2:]

In [23]:
width=len(bin(number)[2:])

In [30]:
print(dec.rjust(width), octa.rjust(width), hexa.rjust(width), bina.rjust(width))

   20    24    14 10100

In [33]:
width=len(bina)
n=int(input())
for i in range(1,n+1):
    dec=str(i)
    octa=oct(i)[2:]
    hexa=hex(i)[2:].upper()
    bina=bin(i)[2:]
    print(dec.rjust(width), octa.rjust(width), hexa.rjust(width), bina.rjust(width))

 17

    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     a  1010
   11    13     b  1011
   12    14     c  1100
   13    15     d  1101
   14    16     e  1110
   15    17     f  1111
   16    20    10 10000
   17    21    11 10001

In [ ]:
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [3]:
a='abcdefghijkmnopqrstuvwxyz'
n=4
for i in range(0,len(a),n):
    print(a[i:i+n]) # four banao

abcd
efgh
ijkm
nopq
rstu
vwxy
z

In [12]:
a=(".|."*i).center(21,"-")

'--------.|..|.-------'

In [ ]:
---------.|.---------

In [29]:
for i in range(0,7):
    if i % 2 != 0:
        print((".|."*i).center(21,"-"))
print("WELCOME".center(21,"-"))
for i in range(7-1,0,-1):
    if i % 2 != 0:
        print((".|."*i).center(21,"-"))

---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [23]:
for i in range(6,-1,-1):
    if i % 2 != 0:
        print((".|."*i).center(21,"-"))

---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [ ]:
0 1 2 3 4 5 6 7

In [32]:
M,N=map(int,input().split())

 23 43

In [10]:
def solve(s):
    a=s.split()
    q=''
    for i in a:
        if i.istitle():
            q+=i+' '
            
        else:
            q+=i.title()+ " "
   
    return q

In [11]:
solve("1 w 2 r 3g")

'1 W 2 R 3G '

In [ ]:
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [15]:
(".|."*3).center(21,"-")
m*n
7*21

'------.|..|..|.------'

In [15]:
m=7
for i in range(1,m,2):
    print((".|."*i).center(21,"-"))
print(("WELCOME").center(21,"-"))
for i in range(m-2,0,-2):
    print((".|."*i).center(21,"-"))

---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [ ]:
 0  1   2   3   4   5   6   7
-8 -7  -6  -5  -4  -3   -2  -1

In [7]:
m=7
for i in range(m,0,-1):
    print(i)

7
6
5
4
3
2
1

In [4]:
for i in range(7-1,0,-1):
    print(i)

6
5
4
3
2
1

In [12]:
s='1 w 2 r 3g'
for name in s.split():
    s=s.replace(name,name.capitalize())
print(s)

1 W 2 R 3g

In [7]:
number=20
dec=str(number)
dec

'20'

In [21]:
oct(number)[-1:-3:-1][::-1]

'24'

In [22]:
hex(number)[-1:-3:-1][::-1]

'14'

In [23]:
bin(number)[2:]

'10100'

In [24]:
width=len(bin(number)[2:])

In [ ]:
----c----
--c-b-c--
c-b-a-b-c
--c-b-c--
----c----

In [ ]:
size=3
a=[chr(i) for i in range(97,123)]
a=a[:size]
q=list(range(size))
q=q+q[:-1][::-1]
for i in q:
    ind_1=i+1
    orignal=a[-ind_1:]
    old=orignal[::-1]
    s=(old+orignal[1:])
    s="-".join(s)
    width=size*4-3
    print(s.center(width,"-"))

In [19]:
number=20
bina=bin(number)
bina

'0b10100'

In [44]:
size=4
alpha=[chr(i) for i in range(97, size+97)]

In [46]:
----c----
--c-b-c--
c-b-a-b-c 0 1 2 1 0
--c-b-c--
----c----

SyntaxError: invalid syntax (190373180.py, line 1)

In [66]:
a=[i for i in range(3)]
x = a+a[:2][::-1]
for i in x:
    index=i+1
    old=alpha[-index:]
    new=old[::-1] + old[1:]
    s="-".join(new)
    width= 3 *4-3
    print(s.center(width,"-"))

----d----
--d-c-d--
d-c-b-c-d
--d-c-d--
----d----

In [86]:
size=3

In [88]:
a=[i for i in range(size)]
a=a+a[:-1][::-1]
a

[0, 1, 2, 1, 0]

In [102]:
alpha2=[chr(i) for i in range(97, size+97)]
a=[i for i in range(size)]
a=a+a[:-1][::-1]
for i in a:
    index2=i+1
    old2=alpha2[-index2:]
    new=old2[::-1]+old2[1:]
    d="-".join(new)
    width2=size*4-3
    print(d.center(width2,"-"))

----c----
--c-b-c--
c-b-a-b-c
--c-b-c--
----c----

In [1]:
s='my name'
s=s.split()
a=[i if i.istitle() else i.title() for i in s]
" ".join(a)

'My Name'

In [5]:
oct(20)[2:]

'24'

In [7]:
hex(20)

'0x14'

In [47]:
size=3
alpha=[chr(i) for i in range(97, size+97)]
a=[i for i in range(3)]
a=a+a[:2][::-1]
for i in a:
    index_1=i+1
    old=alpha[-index_1:]
    new=old[::-1]+old[1:]
    chw='-'.join(new)
    width=size * 4-3
    print(chw.center(width,"-"))

----c----
--c-b-c--
c-b-a-b-c
--c-b-c--
----c----

In [50]:
a=[i for i in range(3)]
a[:2]

[0, 1]

In [21]:
size=3
a=[i for i in range(size)]
a+a[:-1][::-1]

[0, 1, 2, 1, 0]

In [ ]:
-------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e 0 1 2 3 4   3 2 1 0
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

In [25]:
a=int(input())

 376712

In [39]:
n=int(input())
user={""}
for i in range(n):
    user_input=input()
    user.update(user_input)

len(user)

 3
 jdsc
 cjabs
 jsbw

8

In [47]:
comm,*num=list(map(int,input().split()))
num=list(map(int,num))

 3823

In [5]:
meth,*num=input().split()
num=list(map(int,num))
print(meth,num[0])

 nadeem 12

nadeem 12

In [15]:
A=set(map(int,input().split()))

 1 2 3